APP_NAME='News Aggregator'
APP_ENV=production
APP_KEY=base64:+AJdM8ayNnK0pBKrloseB1i8o0ti28tXND7cjCJuFWU=
APP_DEBUG=false
APP_TIMEZONE='Asia/Kolkata'
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db  # For docker
DB_PORT=3306
DB_DATABASE=db_news_aggregator
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis  # For docker

CACHE_STORE=redis
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis # For docker
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=465
MAIL_USERNAME=hello@example.com
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_ENCRYPTION=ssl
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

NEWS_API_KEY=
GUARDIAN_API_KEY=
NYT_API_KEY=

NEWS_API_URL='https://newsapi.org/v2/top-headlines'
GUARDIAN_API_URL='https://content.guardianapis.com/search'
NYT_API_URL='https://api.nytimes.com/svc/topstories/v2/world.json'

VITE_APP_NAME="${APP_NAME}"
